

.forecast {
  background-color: lightskyblue;
}

.uv-low {
  padding-left: 2px;
  margin-left: 2px;
  background-color: lightgreen;
  margin-right: 2px;
}

.uv-mod {
  margin-left: 2epx;
  background-color: yellow;
  margin-right: 2px;
}

.uv-high {
  margin-left: 2epx;
  background-color: orange;
  margin-right: 2px;
}

.uv-very-high {
  margin-left: 2px;
  background-color: red;
  margin-right: 2px;
}

.uv-extreme {
  margin-left: 2px;
  background-color: purple;
  margin-right: 2px;
}

.uv-span-1 {
  padding-left: 2em;
  background-color: lightgreen;
  padding-right: 2em;
}


/* Menu of choices to answer questions */
.tech ul {
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  list-style:none;
  list-style-position:outside;
  text-align: center; 
  margin: auto
}

.tech li {
display:block;
text-align: center;
background-color: white;   /* original color: #cccccc */
color: black;
font-size:large;
margin: 10px 0px 10px 0px;
cursor: pointer;
border-color: lightgray;
border-radius: 3px;
-moz-border-radius: 3px;

}
.tech li {
  /*border-color: red;*/
  box-shadow: 2px 3px 5px #000000;
}
/*
.tech li {
  cursor: pointer;
}
*/

.tech li:hover {
  background-color: whitesmoke;  /* rgb(29, 87, 29) */
}

@media (min-width: 768px) {
  .main {
      padding-right: 40px;
      padding-left: 220px; /* 180 + 40 */
  }
}

.border-blk {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.border-red {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
}

.border-lightgray {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.border-grn {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 2px;
}

.height-1 {
  height: 100vh;
}


